<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
    <p class="ion-text-center">
      Please enter your Email so we can send you an email to reset your
      password.
    </p>

    <ion-item>
      <ion-label color="secondary" position="floating" color="primary"
        >Email</ion-label
      >
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <ion-item
      class="error"
      *ngIf="!forgotForm.controls['email'].valid && forgotForm.controls['email'].touched"
    >
      <ion-label>Please enter a valid email address.</ion-label>
    </ion-item>

    <ion-button
      class="recover-btn"
      color="tertiary"
      expand="block"
      type="submit"
      [disabled]="!forgotForm.valid"
      >Recover</ion-button
    >
  </form>
</ion-content>
