<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title class="ion-texxt-center">Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm">
    <ion-item>
      <ion-label color="secondary" position="floating" color="primary"
        >Username</ion-label
      >
      <ion-input type="text" formControlName="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="secondary" position="floating" color="primary"
        >Email</ion-label
      >
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-button
      class="register-btn"
      color="tertiary"
      expand="block"
      type="submit"
      disabled
      >Register</ion-button
    >
  </form>
  <p class="ion-text-center">Already have an account ? <a>Log In</a></p>
</ion-content>
